<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
<!-- 
        <a v-bind:href="link">gogogo</a> -->

        <input type="checkbox" v-model="language" value="java">java<br/>
        <input type="checkbox" v-model="language" value="php">php<br/>        
        <input type="checkbox" v-model="language" value="python">python<br/>

选中了

    </div>
    
    <script src="./node_modules/vue/dist/vue.js"></script>


    <script>
        let vm=new Vue({
            el:"#app",
            data:{
                // link:"http://www.baidu.com"
                language:[]
            }
        })
    </script>
</body>
</html>